.speaker-card{
    justify-content: center;
    width: 250px;
    border: 6px solid rgb(28, 144, 238);
    overflow: hidden;
    border: 3px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    transition: ease-out 0.3s;
}

.speaker-card img{
    width: 100%;
    height: auto;
    display: block;
}

.speaker-card figurecaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

/* pseudo classe que controla o evento do mouse (em cima) */
.speaker-card:hover{
    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 2px solid rgb(28, 144, 238);
}

.speaker-card h3{
    display: flex;
    color: rgb(76, 183, 255);
    justify-content: center;
    font-size: large;

}

.speaker-card p{
    color: rgb(112, 210, 255);
    font-size: medium;
    justify-content: center;
    margin: 0px 0;
}


.speaker-card h4{
    color: rgb(44, 188, 255);
    font-size: large;
    justify-content: center;
    margin: 0px 0;
}

.container-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; /* Adiciona espaçamento entre os cards */
}