.speaker-card{
    justify-content: center;
    width: 270px;
    border: 4px solid rgb(28, 144, 238);
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

   


.speaker-card h3{
    display: flex;
    color: rgb(122, 202, 255);
    justify-content: center;
    font-size: large;

}

.speaker-card p{
    color: rgb(31, 174, 240);
    font-size: medium;
    justify-content: center;
}