/* container principal */
.footer-content{
    height: 8vh;
    background-color: aqua;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* container da esquerda */
.footer-address{
    color: rgb(94, 205, 241);
    font-size: 14px;

}

/* titulo do container da esquerda (filho) */
.footer-address__title{
    font-weight: bold;
    margin-bottom: 8px;
}

/* container do meio */
.footer-info{
    margin-top: 5px;
    line-height: 1.6;
}

/* container da direita */
.footer-social{
    display: flex;
    
}

/* container da direita ( filho do footer-social) */
.footer-social ul{
    display: flex;
    padding: 0;
    margin: 0;
    
}

/* container da direita (filho da ul) */
.footer-social img{
   width: 30px;
   height: 30px;
   margin: 0 10px;
}

/* classe responsavel por aplicar o efeito em todos os icones das redes sociais) */
.effect:hover{
    transform: scale(1.2);
}