/* container principal */
.footer-content{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(130, 220, 243);
    box-shadow: 0 2px 5px ;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 20px;
}

/* container da esquerda */
.footer-address{
    color: rgb(2, 78, 106);
    font-size: 14px;
    width: 100%;

}

/* titulo do container da esquerda (filho) */
.footer-address__title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

/* container do meio */
.footer-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-info img{
    width: 64%;
}

/* container da direita */
.footer-social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

/* container da direita ( filho do footer-social) */
.footer-social ul{
    display: flex;
    /* justify-content: center;
    align-items: center;
    gap: 60px; */
    padding: 0;
    margin: 0;
    
}

/* container da direita (filho da ul) */
.footer-social img{
   width: 24px;
   transition: 0.3s ease;
   height: 30px;
   margin: 0 10px;
   
}

/* classe responsavel por aplicar o efeito em todos os icones das redes sociais) */
.effect:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 3px rgb(8, 86, 160));
    cursor: pointer;
    
}