@import url(./reset.css);
@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);

html{
    scroll-behavior: ;
}

.content-nosso-time, .content-cursos, .content-faq, .content-contato{
}

.content-nosso-time{
}

.content-cursos{
}

.content-faq{
}

.content-contato{
}







.main-content{
    width: 100%;
    height: 200vh;
    background-color: rgb(129, 204, 233);
}

.content-sec01{
    width: 100%;
    height: 100vh;
    background-color: rgb(94, 205, 241);
}
